name: Build, run tests and publish to nuget
on:
  push:
    tags:
      - 'v*' # Trigger on tags starting with 'v'
jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 10.0.x
      - name: Restore dependencies
        run: dotnet restore --locked-mode
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal
        
  publish:
    needs: build-and-test
    name: Build, pack & publish
    runs-on: ubuntu-latest
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
      - name: Set Package Version
        run: |
          VERSION_NAME="${{ github.ref_name }}"
          if [[ "$VERSION_NAME" == v* ]]; then
            # Remove 'v' prefix if it exists
            echo "PACKAGE_VERSION=${VERSION_NAME:1}" >> $GITHUB_ENV
          else
            echo "PACKAGE_VERSION=$VERSION_NAME" >> $GITHUB_ENV
          fi
      - name: Pack
        run: dotnet pack src/Pafiso/Pafiso.csproj -c Release -o out /p:Version=${{ env.PACKAGE_VERSION }}
      - name: Push to NuGet
        run: dotnet nuget push "out/*.nupkg" --api-key ${{secrets.NUGET_API_KEY}} --source "https://api.nuget.org/v3/index.json"

